<footer>
    <div class="footer-container">
      <img src="img/logo.jpg" class="logo" alt="" />
      <div class="footer-col">
        <ul>
          <li><a href="#" class="nav-link">Home</a></li>
          <li><a href="#" class="nav-link">Menu</a></li>
          <li><a href="#" class="nav-link">Locations</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <ul>
          <li><a href="#" class="nav-link">Careers</a></li>
          <li><a href="#" class="nav-link">Contact Us</a></li>
          <li><a href="#" class="nav-link">FAQ</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <ul>
          <p>Find Us</p>
          <a href="#"><img src="img/instagram.svg" class="icon" alt="" /></a>
          <a href="#"><img src="img/tik-tok.svg" class="icon" alt="" /></a>
          <a href="#"><img src="img/yelp.svg" class="icon" alt="" /></a>
        </ul>
      </div>
    </div>
  </footer>
  <script src="app.js"></script>
</body>
</html>