<%- include("partials/header"); -%>

<section class="hero">
  <img src="img/bowls.png" class="hero-img" alt="" />
  <div class="hero-right">
    <p class="hero-text">
      Berry Brand is a passion-driven brand with values rooted in wellness,
      transparency and design. We created this company for the community because
      we believe that people deserve better. Our mission is to inspire and
      empower people to live a happy and healthy life.
    </p>
    <button class="order-btn">ORDER ONLINE</button>
  </div>
</section>
<section class="cross-nav">
  <div class="cross-nav-img box-left">
    <a href="#" class="cross-nav-link">Find Your Store</a>
  </div>
  <div class="cross-nav-img box-right">
    <a href="#" class="cross-nav-link">Check out the menu</a>
  </div>
</section>
<section>
  <div class="slideshow">
    <div class="slide">
      <img src="img/carousel1.png" alt="" />
    </div>
    <div class="slide">
      <img src="img/carousel2.png" alt="" />
    </div>
    <div class="slide">
      <img src="img/carousel3.png" alt="" />
    </div>
    <div class="slide">
      <img src="img/carousel4.png" alt="" />
    </div>
    <div class="slide">
      <img src="img/carousel5.png" alt="" />
    </div>
  </div>
</section>

<%- include("partials/footer"); -%>
